footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    
}

.text-section {
    max-width: 100%;
    margin: 5% auto;
    /* overflow-x: hidden; */
}
