footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  background-color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.text-section-a,
.text-section-b {
  flex: 1 1 48%;
}

.text-section-a, .text-section-b {
  margin: 0 10%;
}

hr {
  width: 100%;
}
