header {
    height: 140px;
    padding: 20px;
    background-color: #F6E7E6;
    color: #000000;
    display: flex;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.menu-container {
    display: flex;
    margin-top: 20px;
}

.searchbar {
    flex: 0 0 auto;
    margin-right: auto;
    display: flex;
    border: none;
    border-radius: 26px;
    width: 400px; 
    padding: 10px 20px;
    background-color: white;
}

.search-input {
    flex: 1;
    border: none;
}

.nav-button {
    border: none;
    background-color: transparent; 
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}

nav {
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

nav ul {
    flex: 1;
    list-style: none;
    display: flex;
    right: 100px;
}

nav a {
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    margin: 0 10px;
}

#menuicon {
    display: none;
}

#gamjaMarketLink {
    margin-left: 80px;
}

input[id="menuicon"] + label {
    display: block;
    width: 20px; /* 전체 아이콘 가로 크기 */
    height: 20px; /* 전체 아이콘 세로 크기 */
    position: absolute;
    cursor: pointer;
    z-index: 2;
    /* top: 15px; */
    left: 100px;
}

input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 25px; /* 막대기 너비를 전체 아이콘 크기에 맞춤 */
    height: 2px;
    border-radius: 30px;
    background: rgb(0, 0, 0);
    transition: all .35s;
}

input[id="menuicon"] + label span:nth-child(1){
    top: 0;
    margin-top: -0.2px; /* 막대기 간 간격을 조절 */
}

input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
    margin-top: -0.2px; /* 막대기 간 간격을 조절 */
}

/* 체크된 상태일 때의 스타일도 변경 */
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sidebar {
    width: 250px;
    height: 100%;
    background: #F6E7E6; /* 배경색을 원하는 색상으로 설정 */
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 1;
    transition: all .35s;
    display: flex;
    flex-direction: column;
    
}

.sidebar-active {
    left: 0;
}

input[id="menuicon"]:checked + label + div {
    left: 0;
}

.menu-title {

    font-weight: bold;
    font-size: 20px;
    margin-top: 150px;
    margin-left : 20px;
    text-align: center;
}

.menu-group {
    margin-left: 20px;
    text-align: center;
}

.menu-group a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
    transition: color 0.3s; /* hover 시 색 변화를 위한 트랜지션 */
    text-align: center;
}

.menu-group a:hover {
    color: brown; /* 갈색으로 변경 (예시 색상) */
    font-weight: bold;
}
.menu-group + .menu-title {
    margin-top: 20px; /* 조절된 값 */
}
