<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>Your Webpage</title>
</head>
<body>
    <footer>
        <hr>
        <div class="text-section-a">
            <h3>감자마켓</h3>
            <p>당신의 편리한 중고거래를 위한 플랫폼, 감자마켓입니다. 이화여대 컴퓨터공학과 재학생 5명이 모여 만든 감자마켓에는 다양한 기능을 할 수 있는 페이지들이
                있습니다.와서 구경하세요!
            </p>
        </div>
    
        <div class="text-section-b">
            <p>2023GamjaMarket. All rights reserved</p>
            <p>address 이화여자대학교 아산공학관 521호</p>
            <p>우편번호 011022</p>
            <p>contact 010-1234-5678</p>
        </div>
    </footer>
</body>
</html>
