<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>나의 찜</title>
    <style>

        .num-heart{
            text-align:right;
            margin-right: 15%;
        }


        .contents{
            margin-left: 10%;
            margin-top: 5%;
            font-size: 18px;
            font-weight: bold;
            text-align: left;
        }

        ul{
            display: flex;
            list-style-type: none;
        }

        li{
            margin-left: 10%;
            font-size: 18px;
        }
        
    </style>
</head>
<body>
    {% include 'header.html' %}

    <section>
        {% block section %}

    
    <div class="contents">
        <h2>회원님이 찜한 상품</h2>
        <br>
        <h4 class="num-heart">찜한 상품 갯수 : {{ liked_items|length }}</h4>
    </div>

    {% if liked_items %}
        <ul>
            {% for item in liked_items %}
                <li>
                    <a href="/view_detail/{{ item.name }}">
                        <img src="static/img/{{ item.details.img_path }}" alt="{{ item.name }}", width=140, height=200>
                    </a>
                    <p> {{ item.name }}</p>
                    <p> {{ item.price}}</p>
                    <!-- Add more details as needed -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No liked items yet.</p>
    {% endif %}
    {% endblock section %}
</section>

{% include 'footer.html' %}
</body>