<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Done Items Page</title>
</head>
<body>

    
<h1>My Done Items</h1>

<nav>
    <ul>
        <li><a href="{{ url_for('my_page_done', user_id=user_id, sort='all') }}">전체보기</a></li>
        <li><a href="{{ url_for('my_page_done', user_id=user_id, sort='direct') }}">직거래</a></li>
        <li><a href="{{ url_for('my_page_done', user_id=user_id, sort='parcel') }}">택배거래</a></li>
        <li><a href="{{ url_for('my_page_done', user_id=user_id, sort='nondirect-box') }}">비대면상자</a></li>
    </ul>
</nav>
{% if done_items %}
    <ul>
        {% for item in done_items %}
            <li>
                <strong>Item Name:</strong> {{ item.name }}<br>
                <strong>Transaction Date:</strong> {{ item.trans_date }}<br>
                <strong>Transaction Mode:</strong> {{ item.trans_mode }}<br>
                <img src="../../static/img/{{ item.img_path }}" alt="Item Image"><br>
            </li>
        {% endfor %}
    </ul>

    {% if page_count > 1 %}
        <div>
            {% if page > 0 %}
                <a href="{{ url_for('my_page_done', user_id=user_id, page=page-1, sort=sort_mode) }}">Previous</a>
            {% endif %}

            {% if page < page_count - 1 %}
                <a href="{{ url_for('my_page_done', user_id=user_id, page=page+1, sort=sort_mode) }}">Next</a>
            {% endif %}
        </div>
    {% endif %}

{% else %}
    <p>No done items available.</p>
{% endif %}

</body>
</html>
