<!DOCTYPE html>
<html>

<head>
    <title>상품 등록 결과</title>
</head>

<body>
    <h1>상품 등록 결과</h1>

    <!-- 등록된 상품 정보를 출력합니다 -->
    <p>상품명(글제목): {{ data['product-title'] }}</p>
    <p>가격방식: {{ data['price-method'] }}</p>

    <!-- 일반거래의 경우 판매가 출력 -->
    {% if data['price-method'] == "일반거래" %}
    <p>판매가: {{ data['normal-price'] }}</p>
    {% endif %}

    <!-- 경매의 경우 경매 정보 출력 -->
    {% if data['price-method'] == "경매" %}
    <p>경매마감일: {{ data['auction-end-time'] }}</p>
    <p>최저낙찰가: {{ data['auction-min-bid'] }}</p>
    <p>최고낙찰가: {{ data['auction-max-bid'] }}</p>
    {% endif %}

    <!-- 상세설명 및 글작성날짜 출력 -->
    <p>상세설명: {{ data['product-description'] }}</p>
    <p>글작성날짜: {{ data['post-date'] }}</p>

    <!-- 상품 등록 결과 페이지로 이동하는 링크 또는 버튼 추가 -->
    <a href="/productRegister">상품 등록 페이지로 돌아가기</a>

</body>

</html>